<% for(var i = 0; i < emojies.length; i++){%>
<tr>
  <td><%= i+1 %></td>
  <td><%= emojies[i].name %></td>
  <td><%= emojies[i].description %></td>
  <td style="font-size: 25px;"><span><%-  emojies[i].utf8  %></span></td>
  <td><%= emojies[i].status %></td>
  <td>
    <a href="/update-emoji?id=<%= emojies[i]._id%>" class="btn border-shadow update">
      <button type="button" class="btn btn-primary">Change</button>
    </a>
    <a class="btn border-shadow delete" data-id = <%= emojies[i]._id %>>
        <button type="button" class="btn btn-danger">Remove</button>
    </a>
  </td>
</tr>
<%}%>
